*.o
*.so
*.a
*.log
*.meta
*.bak
/.svn
/.libs
ardb-test*
ardb-server*
ardb-repair*
testdb/
data/
deps/
repl/
src/rocksdb/
snappy-*/
gperftools-*/
jemalloc-*/
leveldb-*/
/Debug
~*
.kv_engine
core
ardb.pid
